body{
    font-family: 'Montserrat', sans-serif;
}
#no_me_la_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.botonIzquierda {
    margin-right: 5vw;
}

#menu{
    margin: auto;
    display: grid ;
    place-items: center;
    
    height: 100px;
    width: 100vw;

    color: #333;
}
p{
    font-size: xx-large;
}
button{
    height: 7.5vh;
    width: 20vw;
    font-size: 1.3vw;
    border-radius: 20px;
    transition: ease-in-out .3s;
    margin-bottom: 5vh;
    background-color: white;
}
button:hover{
    color: white;
    background-color: black;
    transition: ease-in-out .3s;
    cursor: pointer;
}