<div id="no_me_la_container">
    <div id="menu">
        <p>Menú </p>
        <div class="m1">
            <button *ngIf = "cs" (click)="cerrarSesion()" >Cerrar sesión</button>
            <button *ngIf = "mas" routerLink="/mas">Más</button>
        </div>
        <div class="m1">
            <button *ngIf = "registro" class="botonIzquierda" routerLink="/register">Registrarse</button>
            <button *ngIf = "login" routerLink="/login">Iniciar sesión</button>
        </div>
        <div class="m2">
            <button *ngIf = "alumnos" class="botonIzquierda" routerLink="/alumnos">Alumnos</button>
            <button *ngIf = "materias" routerLink="/materias">Materias</button>
        </div>
    </div>
</div>
