#btn-menu{
    border-radius: 20px;
    transition: ease-in-out .3s;
    background-color: white;
    height: 5vh;
    width: 5vw;
}
#btn-menu:hover{
    color: white;
    background-color: black;
    transition: ease-in-out .3s;
    cursor: pointer;
}
.mas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.mas{
    margin: auto;
    display: grid ;
    place-items: center;
    
    height: 100px;
    width: 100vw;

    color: #333;
}
.input-mas{
    height: 7.5vh;
    width: 30vw;
    margin-bottom: 5vh;
    border-radius: 20px;
    font-size: larger;
}
.btn-mas{
    height: 7.5vh;
    width: 20vw;
    font-size: 1.3vw;
    border-radius: 20px;
    transition: ease-in-out .3s;
    margin-bottom: 5vh;
    background-color: white;    
    margin-bottom: 15vh;
}
.btn-mas:hover{
    color: white;
    background-color: black;
    transition: ease-in-out .3s;
    cursor: pointer;
}
p{
    font-size: xx-large;
}