<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="btn-menu" routerLink="/menu">Menu</button>
    <div class="materias-container">
        <div class="materias">
            <p>Crear una materia</p>
            <input placeholder="Nombre de la materia" #materias class="input-materias">
            <button (click)="crearMateria(materias.value)" class="btn-materias">Crear materia</button>
            <p>Borrar materia</p>
            <input placeholder="Id de la materia" #materias2 class="input-materias" type="number">
            <button (click)="borrarMateria(materias2.value)" class="btn-materias">Borrar materia</button>
            <p>Mostrar materia según id y los astros</p>
            <input placeholder="Id de la materia" #materias3 class="input-materias" type="number">
            <button (click)="mostrarMateria(materias3.value)" class="btn-materias">Mostrar materia</button>
            <p id="materiaSegunId"></p>
            <p>Mostrar <b>TODO</b></p>
            <button (click)="mostrarMaterias()" class="btn-materias">Mostrar materias</button>
            <p id="materias4"></p>
        </div>
    </div>
    
</body>
</html>