<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="register-container">
        <div class="register">
            <p id="title">Registro</p>
            <input #name id="name" placeholder="Nombre">
            <input #password id="password" placeholder="Contraseña" type="password">
            <button (click)="registrarse(name.value, password.value)" id="btn">Registrarse</button>
            <a id="link" routerLink="/login">¿Ya tenés cuenta?</a>
        </div>
        
    </div>
    
    

</body>
</html>



