body{
    font-family: 'Montserrat', sans-serif;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.login{
    margin: auto;
    display: grid ;
    place-items: center;
    
    height: 100px;
    width: 100vw;

    color: #333;
}
#name,#password{
    height: 7.5vh;
    width: 30vw;
    margin-bottom: 5vh;
    border-radius: 20px;
}
#title{
    font-size: xx-large;
}

#btn{
    height: 7.5vh;
    width: 20vw;
    font-size: 1.3vw;
    border-radius: 20px;
    transition: ease-in-out .3s;
    margin-bottom: 5vh;
    background-color: white;
}
#btn:hover{
    color: white;
    background-color: black;
    transition: ease-in-out .3s;
    cursor: pointer;
}
#link{
    text-decoration: none;
    color: black;
  
    text-shadow: 0 0 3px #000000;
}
